<!DOCTYPE html>
<html lang="en">
	<head>
		<title>$pagetitle$</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/main.css">
		<link rel="icon" href="/favicon.svg">
		<meta name="description" content=$desc$>
	</head>
	<body>
		<div class="logo"><p>{ without a clue }</p></div>
		<nav>
			<a class="nav nav-home" href="/">Home</a>
			<a class="nav nav-link" href="/journal">Journal</a>
			<a class="nav nav-link" href="/projects">Projects</a>
		</nav>
		<main>
		<script>
			/*to prevent Firefox FOUC, this must be here*/
			let FF_FOUC_FIX;
		</script>
		<h1>$pagetitle$</h1>	
		$body$
		</main>
		<footer>
			<div>lz</div>
		</footer>
	</body>
</html>
